@use '@styles/theme' as *;

.shell {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: $gray-100;
}

.desktopSidebar {
    display: none;
    flex: 0 0 240px;
    height: 100vh;
    overflow: hidden;

    @include breakpoints('lg') {
        display: block;
    }
}

.contentWrapper {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.mobileHeader {
    display: block;

    @include breakpoints('lg') {
        display: none;
    }
}

.content {
    min-width: 0;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
