@use '@styles/theme' as *;

.main-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .right-panel {
        width: 100%;

        @include breakpoints('lg') {
            width: 55%;
        }
    }

    .left-panel {
        display: none;

        @include breakpoints('lg') {
            width: 45%;
            display: block;
        }
    }
}