@use '@styles/theme' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 28px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding-left: 22px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-wrap: wrap;
}
