@use '@styles/theme' as *;

.container {
    width: min(440px, calc(100vw - 32px));
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-wrap: wrap;
}
