@use '../../../styles/_theme.scss' as *;

.shimmer {
    background: linear-gradient(to right, #eeeeee 0%, #dddddd 20%, #eeeeee 40%, #eeeeee 100%);
    background-size: 800px 104px;
    animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}
